<div class="taskListsWrapper">
  <div class="taskLists">
    <h3>TO-DO LIST</h3>
    <div
      class="addCategory"
      *ngIf="notAddingNewCategory; else addingNewCategory"
      (click)="newCategoryToggle()"
    >
      <span class="plus">+</span>
      <span class="gray">Add category</span>
    </div>
    <ng-template #addingNewCategory>
      <div class="addCategory">
        <input
          required
          type="text"
          maxlength="22"
          placeholder="Category name"
          [(ngModel)]="newListName"
        />
        <button type="submit" (click)="addNewCategory()">Save</button>
        <button (click)="newCategoryToggle()">Cancel</button>
      </div>
    </ng-template>
    <div class="listsSection">
      <app-task-list
        *ngFor="let iterList of lists"
        (deleteListEvent)="updateLists()"
        [list]="iterList"
      ></app-task-list>
    </div>
  </div>
</div>
