@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap");
}

.gray {
    font-size: 0.95rem;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #282828;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
    padding: 0;
}

.taskLists {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(30, 30, 30, 1);
    width: 50vw;
    min-height: 100vh;
}

a {
    font-size: 1.2rem;
}

.addCategory {
    margin: 2rem 3rem 0rem 3rem;
}

h3 {
    margin: 1.5rem auto 0 auto;
}

input {
    margin-bottom: 0.5rem;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

button {
    background-color: #444;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: black;
    }
}

i {
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        color: firebrick;
    }
}
