<hr />
<div class="list-wrapper">
  <!-- Показываем блок с именем листа в обычном режиме -->
  <div class="listHeader" *ngIf="notUpdatingList; else updatingList">
    <a>
      <i
        (click)="toggleList()"
        aria-hidden="true"
        class="fa"
        [class.fa-arrow-circle-right]="showTasks === false"
        [class.fa-arrow-circle-down]="showTasks === true"
        title="Close / open tasks"
      >
      </i>
    </a>
    <span title="Edit list name" (click)="editListName()"
      >{{ list.name }}
    </span>
    <span style="margin-left: 0;">({{ tasks?.length }})</span>
    <a>
      <i
        title="Delete list"
        (click)="deleteList()"
        class="fa fa-trash-o"
        aria-hidden="true"
      ></i>
    </a>
  </div>
  <!-- Показываем блок для редактирования имени листа -->
  <ng-template #updatingList>
    <input maxlength="22" type="text" [(ngModel)]="newListName" />
    <button (click)="updateList()">Save</button>
    <button (click)="editListName()">Cancel</button>
  </ng-template>
  <!-- Отображаем список задач из текущего листа -->
  <div *ngIf="showTasks">
    <div
      class="dropList"
      cdkDropList
      #taskList="cdkDropList"
      [cdkDropListData]="tasks"
      (cdkDropListDropped)="onDrop($event)"
    >
      <app-task
        *ngFor="let iterTask of tasks"
        cdkDrag
        (updateTaskEvent)="updateView()"
        [task]="iterTask"
      ></app-task>
    </div>
  </div>
  <!-- Отображаем кнопку для добавления новой задачи -->
  <div
    *ngIf="notAddingList; else addingList"
    (click)="addTask()"
    class="addTask"
  >
    <span class="plus">+</span><span class="gray">Add task</span>
  </div>
  <!-- При нажатии на кнопку отображаем интерфейс для добавления новой задачи -->
  <ng-template #addingList>
    <div class="addingTask">
      <div class="nameDescrWrapper">
        <input
          required
          placeholder="Task name"
          max="22"
          type="text"
          [(ngModel)]="newTaskName"
        />
        <textarea
          rows="15"
          class="description"
          required
          placeholder="Task description"
          maxlength="2500"
          [(ngModel)]="newTaskDescription"
        ></textarea>

        <button (click)="addNewTask()">Save</button>
        <button (click)="closeAdding()">Cancel</button>
      </div>
      <ngb-datepicker
        class="picker"
        #dp
        [(ngModel)]="model"
        (navigate)="date = $event.next"
      ></ngb-datepicker>
    </div>
  </ng-template>
</div>
